<section class="products-list pb-5 container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="d-flex text-muted mb-5 justify-content-between">
          <p>showing {{productsList.length}} of {{params.total}} results</p>
          <app-header (filterProduct)="filterCategory($event)"></app-header>

        </div>
      </div>
    </div>

    <div class="row">
      <!-- Start Product -->
      <div class="col-lg-9">
        <div class="row">
          <ng-container *ngFor="let product of productsList | filter:searchText">
            <div class="col-lg-6 col-sm-12 col-xl-4  py-2 rounded d-flex align-items-stretch">

              <div class="data shadow w-100 rounded py-2">
                <div class="img-scal rounded" role="button">
                  <img class="img-fluid" [src]="product?.image" />
                  <app-addtocart class="add-button" (addProducts)="addProduct(product?.id)" [productData]="product?.id"></app-addtocart>
                </div>

                <div class="product-content p-xl-2 p-lg-3 rounded d-flex flex-column ">
                  <a class="d-inline-block my-2 head w-100" [routerLink]="['../product', product?.id]">
                    {{product?.title}}
                  </a>

                  <p> {{product?.category}}</p>
                  <button mat-raised-button color="primary" class="w-25 mt-auto">
                    ${{product?.price}}
                  </button>
                 
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <!-- End Product -->
      <div class="col-lg-3">
        <app-sidebar (filterProduct)="filterCategory($event)" (search)="searchProduct($event)"></app-sidebar>

        <span class="fs-6 fw-bold">RELATED PRODUCTS</span>

        <div *ngFor="let product of productsList  | slice:0:3" class="rating">
          <div class="d-flex align-items-center justify-content-between my-4">
          <img [routerLink]="['../product', product?.id]" class="w-25 rating-img" [src]="product?.image" />

          <div class="">
          <ngb-rating [rate]="product?.rating?.rate" [readonly]="true"></ngb-rating>
          <p>
            User Count {{product?.rating?.count}}
         </p>
        </div>
        </div>
        

        </div>
      </div>

    </div>
  </div>
</section>